<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <!--<add name="access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=note.accdb;Jet OLEDB:Database Password=123"/>-->
    <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=note.mdb;Jet OLEDB:Database Password=123"/>
    <add name="access1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=QRRecord.mdb;Jet OLEDB:Database Password=123"/>
    <add name="CPU" connectionString="BFEBFBFF000306A9"/>
    <add name="PhotoIP" connectionString="192.168.3.10"/>
    <add name="PhotoPort" connectionString="8000"/>
    <add name="RobotIP" connectionString="192.168.3.10"/>
    <add name="RobotPort" connectionString="8001"/>
    <add name="QRIP" connectionString="192.168.3.100"/>
    <add name="QRPort" connectionString="8010"/>
    <add name="TemperatureCOM1" connectionString="COM7"/>
    <add name="TemperatureCOM2" connectionString="COM8"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsWIPSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.8.33.9/MESWS_sz/wsWIP.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsWIPSoap" contract="ServiceWeb.wsWIPSoap"
                name="wsWIPSoap" />
        </client>
    </system.serviceModel>
</configuration>
